{
  "iteration": 0,
  "total_campaigns_created": 0,
  "total_experiments_run": 0,
  "total_discoveries": 0,
  "active_questions": [],
  "last_campaign": null,
  "consecutive_no_improvement": 0,
  "moonshot_count": 0,
  "non_moonshot_count": 0
}
